<div id="checkoutBgImage">
    <div class="invisible-navbar">
    </div>
    <button class="checkout-homebutton"><a href="index.html">HOME</a></button>

    <h1 class="galley-checkout-title">Bikini Bottom Booking Checkout!</h1>
    <br>

    <div class="order-summary-tile">
        <h2 class="order-title">YOUR ORDER</h2>
        <img src="./images/Patrick1.png" class="patrick-icon">
        {{#if items.length}}
        {{#each items as |item| }}

        <div class="item-and-price-row">
            <h3>• item<a href="/krustykrab/{{item.id}}">{{item.item_name}}</a> x {{item.item_name.length}}</h3>
            <h3>$xx.xx{{item.item_price}}</h3>
        </div>

        {{/each}}
        {{/if}}



        {{!-- {{order}} goes here --}}

        <h3 class="order-total">TOTAL: </h3>

    </div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/app.js"></script>