<div class="krusty-background">
<header class="menuHeader">
    <div class="format-header">
        <h1> The Krusty Krab</h1>
        {{!-- line below adjusted for handlebars --}}
        <a href="/" class='homeButton'>HOME</a>
    </div>
</header>
<section class='style-section'>
    <div class="menuSection">
        {{#each menuItems}}
        <h2>{{this.item_name}}
        </h2>
        <div class="menuItemBox">
        <div class="column-section">
            <div class="wrap-image">
                <img class="menuImage" src="./images/{{this.item_image}}" alt="Signature Krabby Patty">
            </div>
            <div class='quantity-box'>
                <button class="minus" id='minus-box-{{this.menu_id}}' data-number='{{this.menu_id}}' onclick="garyMeow()">-</button>
                <div class='style-quantity' id='count-box}'>0</div>
                <button class='add' id='plus-box-{{this.menu_id}}' data-number='{{this.menu_id}}' onclick="garyMeow()">+</button>
            </div>
            <div class="description">
                    <p>
                    {{this.item_description}}
                    {{this.item_price}} 
                    </p>
                </div>
        </div>
        </div>
        {{/each}}
    </div>

        <!-- Modal placeholder (Subject to Change) -->
        <div class="modalBox" id="dialog" title="Your Cart Items">
            <ul class='displayList'>
            </ul>
            <button id="opener-2" onclick="ohYeah()">Confirm Order</button>
        </div>

        <button class="opener" id="opener" onclick="stankNoise()"><img
                src="https://img.icons8.com/small/32/000000/shopping-cart.png"/></button>

        <div class="modalBox" id="dialog-2" title="Order Complete!">
            <p>Your order has been submitted.</p>
            <p>
                Estimated Arrival Time: <b>30 minutes</b>.
            </p>
        </div>
        <button class="empty-cart">Empty Cart 🗑️</button>
   
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script>
            $(function shoppingCart() {
                $("#dialog").dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                $("#opener").on("click", function shoppingCart() {
                    $("#dialog").dialog("open");
                });
                $("#dialog-2").dialog({
                    autoOpen: false,
                    show: {
                        effect: "open",
                        duration: 500
                    },
                    hide: {
                        effect: "close",
                        duration: 500
                    }
                });

                $("#opener-2").on("click", function () {
                    $("#dialog-2").dialog("open");
                });
            });
        </script>

</section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="./js/howler.js"></script>
<script src="./js/krustykrab.js"></script>
{{!-- <script src="../models/krustyMenu.js"></script> --}}